/* Modal Overlay */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  z-index: 1000; /* Lower than modal */
}

.modalOpen {
  opacity: 1;
  pointer-events: auto;
}

/* Modal Content */
.modalContent {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%;
  max-width: 48rem;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding: 20px;
  z-index: 1100; /* Sidebar z-index */
  transition: transform 1s ease-in-out, right 1s ease-in-out;
}

.modalOpen .modalContent {
  right: 0;
}

@media screen and (max-width: 40rem) {
  /* Modal Overlay */
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
    z-index: 1000; /* Lower than modal */
  }

  .modalOpen {
    opacity: 1;
    pointer-events: auto;
  }

  /* Modal Content */
  .modalContent {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 80%;
    max-width: 48rem;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 20px;
    z-index: 1100; /* Sidebar z-index */
    transition: transform 1s ease-in-out, right 1s ease-in-out;
  }

  .modalOpen .modalContent {
    right: 0;
  }
}
